.header {
  grid-area: h;
  background-color: #618cff;
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px;
}

.header img {
  position: absolute;
  width: 50px;
}

.login {
  display: flex;
  justify-content: flex-end;
  color: white;
}

.login a {
  color: white;
}