.profileInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.description {
  font-weight: bold;
  font-style: italic;

  display: flex;
  flex-direction: column;

  padding: 10px;
}

.photo {
  width: min-content;
}

.aboutMe {
  font-style: normal;
}

.aboutMe span {
  font-style: italic;
  color: #0f9a00;
}

.contactsJobWrapp {
  display: flex;
  flex-direction: row;
}

.contacts {
  display: flex;
  flex-direction: column;

  min-width: 200px;
  padding-left: 10px;
}

.job {
  display: flex;
  flex-direction: column;

  padding-left: 30px;
}

.job span {
  align-self: flex-end;

  padding: 10px;
}

.jobTitle {
  display: flex;
}

.jobTitle img {
  width: 100px;
  height: 70px;
  padding-left: 10px;
}
