.dialogs{
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogsItems{
  padding: 10px;
}

.messages{
  width: 35%;
  font-style: italic;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

