
.sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  color: #f3fa2f;
}

.friendsItems {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
